<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CU DEMO Chat Bot</title>
    <link rel="stylesheet" href="./../static/style.css">
</head>
<body>
    <div id="top-bar">
        <p>Clayton Utz Chat Bot</p>
    </div>
    <div id="chat-container"></div>
    <div id="default-questions-container">
        <div class="default-question" onclick="selectDefaultQuestion('Does Jay Zee have a cat?')">Does Jay Zee have a cat?</div>
        <div class="default-question" onclick="selectDefaultQuestion('How many pets does Jay Z have?')">How many pets does Jay Z have?</div>
        <!-- Add more default questions as needed -->
    </div>
    <div id="input-container">
        <button id="change-style-btn" onclick="toggleStyle()">Switch<br />Color</button>
        <div id="user-input-container" ondrop="handleDrop(event)" ondragover="handleDragOver(event)" ondragleave="handleDragLeave(event)">
            <textarea id="user-input" placeholder="Type your message or drag and drop a document here..." onkeydown="handleKeyDown()"></textarea>
            <input type="file" style="display: none;" id="file-input" multiple onchange="handleFileChange(event)">
        </div>
        <button id="send-btn" onclick="sendMessage()">Send</button>
    </div>

    <script src="./../static/script.js"></script>
</body>
</html>
